<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	
	<context:annotation-config />
	<context:component-scan base-package="com.luohj.privileges.**" />
	
    <!-- AOP -->
    <aop:aspectj-autoproxy /> 
    
	<!-- 加载property文件配置 -->
	<bean id="propertyConfigurer"
		class="com.luohj.privileges.core.utils.ConfigLoader">
		<property name="locations">
			<list>
				<value>classpath:conf/jdbc/jdbc.properties</value>
				<value>classpath:conf/app/web.app.properties</value>
			</list>
		</property>
	</bean>
	
	<bean class="com.luohj.privileges.core.utils.ApplicationContextUtil"></bean>

	<import resource="classpath:conf/spring/db/spring-sqlite-db.xml"></import>
	<import resource="classpath:conf/spring/db/applicationContext-transaction.xml"></import>
</beans>
