<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">  
<web-app>
	<display-name>dubbo</display-name>
	<!-- 启动注册中心监听 -->
	<context-param>
	    <param-name>registryConfig</param-name>
	    <param-value>/WEB-INF/registry.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.loxf.dubbo.registry.RegistryListen</listener-class>
	</listener>
	
	<!-- 启动消费者监听 本工程中用于管理界面示例部分的演示  -->
	<!-- 不需要示例的时候，可以注释 -->
	<context-param>
	    <param-name>customerConfig</param-name>
	    <param-value>/WEB-INF/customer.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.loxf.dubbo.registry.CustomerListen</listener-class>
	</listener>
	
	<!-- servlet dispatch -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.loxf.core.servlet.DispatchServlet</servlet-class>
		<load-on-startup>0</load-on-startup> 
		<init-param>
			<param-name>basePath</param-name>
			<param-value>org.loxf.dubbo.action</param-value>
		</init-param>
		<init-param>
			<param-name>excludePath</param-name>
			<!-- value用小逗号隔开 -->
			<param-value>
				/console
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/html/console/console.jsp</welcome-file>
	</welcome-file-list>
</web-app>
